<h1>Welcome to the Nested Forms Lab!</h1>

<p>In this lab, you'll practice using nested forms in Sinatra. As a convenience, I've added the instructions from the README below:</p>

<ul>
  <li>let's navigate to the '/new'</li>
</ul>
